/*General*/
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}


#container {
    display: flex;
    flex-flow: row nowrap;

    font-family: Arial;
    color: rgb(102, 97, 97);
}

h1, h2 {
    font-weight: 400;
    font-size: 1.5rem;
    color: rgb(26, 23, 23);
}


/*Utilities: reusable css*/

/*Specific CSS - divided into sections*/
/*Navigation*/

#navbar {
    width: 20%;;  
    position: fixed;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;

    border-right: 3px solid grey;
}

h1 {
    margin: 0rem;
    text-align: center;
}

.nav {
    margin: 0;
    padding: 0;
    list-style: none;   
}

.nav-list, h1 {
    padding: 1.25rem;
    border-bottom: 0.5px solid grey;
}

.nav-link {
    text-decoration: none;
    color: rgb(102, 97, 97);
}

/*Main Document*/
 
#main-doc {
    margin-left: 20%;
    margin-bottom: 5rem;
    width: 80%;
    padding: 0rem 1.25rem;
}

.main-section {
    padding: 1rem 1.25rem 0rem;
    margin-bottom: 1.25rem;
    text-align: justify;
    line-height: 1.5;
}

.section-info {
    margin-left: 1rem;
}

.section-info ul li {
    margin-bottom: 1rem;
}

.code {
    margin-left: 1rem;
    padding: 1rem;
    border-radius: 5px;
    background-color: rgb(209, 208, 208);
}

/*---------------------MEDIA QUERIES------------*/
@media screen and (max-width: 768px) {
    /*General*/
    #container {
        flex-flow: column wrap;
    }
 
    /*Navigation*/
    #navbar {
        width: 100%;
        height: 137px;       
        overflow: visible;
        
        border: none;
        border-bottom: 0.5px solid grey;
        background-color: white;
        
    }

    .nav {
      height: 68.5px;
      overflow: scroll;
      text-align: center;
      font-size: 1.2rem;
     
    }

    .nav-list {
        border: none;
    }

    /*Main Document*/
    #main-doc {
        margin: 8.56rem 0 0;
        width: 100%;
    }

    .main-section {
        scroll-margin-top: 10rem;
        padding: 0rem;
    }

    h2 {
        font-size: 1.4rem;
        text-align: left;
    }

    .section-info {
        margin: 0rem;
    }

    .section-info ul {
        padding-left: 1.25rem;
    }

    .code {
        margin: 0rem;
        text-align: left;
    }
}



